@import "tailwindcss";

:root {
  --background: #131417;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131417;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* min-height: calc(100vh - 150px); */
}

.cards-row::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

button:hover,
a:hover {
  filter: hue-rotate(20deg);
  transform: scale(1.05);
}

a {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
/* img {
  filter: contrast(1.25) saturate(1.5);
} */

.one-row {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.one-card {
  scroll-snap-align: center;
}

img {
  /* text-rendering: optimizeLegibility;
  image-rendering: crisp-edges; */
  object-fit: cover;
  object-position: center;
}

#video-player {

  border-radius: 10px !important;
}